    github "SwifterSwift/SwifterSwift" ~> 4.0                   # useful Swift Extensions
    github "krzyzanowskim/CryptoSwift" "develop"                # contruction of hashes
#   github "danielgindi/Charts"                                 # Charts for beautiful statistics